body {
    margin: 0px;
    font-family: Calibri;
	font-size: 17px;
    background-color: rgb(254, 250, 224);
}

mark {
    background-color: rgb(244, 203, 150);
    word-break: break-word;
}

h1{
    font-size: 35px;
}

#protocol {
    scroll-margin-top: 150px;
} 

#http, #https, #ssl_tls, #csp, #stats, #php, #good_practice, #imgs {
    scroll-margin-top: 80px;
}

#code1, #code2, #code3, #code4, #code5, #code6, #code7 {
    scroll-margin-top: 50px;
}

#fig1, #fig2, #fig3 {
    scroll-margin-top: 70px;
}

.refs {
    font-size: 15px;
    color: rgb(221, 161, 94);
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.list li:target {
    background-color: rgb(124, 72, 25);
    color: rgb(254, 250, 224);
    display: inline;
}

.list li:target:before {
    display: inline;
}

.img {
    border: solid 2px;
    border-color: rgb(124, 72, 25);
}

.code {
    display: block;
    white-space: pre-wrap;
    font-size: 14px;
    background-color: rgb(234, 233, 223);
}

.fig {
    text-align: center;
    font-size: 14px;
}

#imgs, #codes, #refs {
    border-top: solid 1px;
    border-color: rgb(40, 54, 24);
}

#container {
    padding: 20px;
    border-left: solid 5px;
    border-right: solid 5px;
    border-color: rgb(124, 72, 25);
}

#bar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 8px;
    background: rgb(40, 54, 24);
    width: 0%;
}

#navigation {
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgb(96, 108, 56);
    padding: 8px 0 0 15px;
}

#navigation a {
    color: rgb(254, 250, 224);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    height: 10px 10px 10px 10px;
    width: 20px 20px 20px 20px;
}

#navigation a:hover {
    background-color: rgb(81, 92, 48);
    cursor: pointer;
}

#footer {
    background-color: rgb(40, 54, 24);
    padding: 15px;
}

#footer p {
    display: inline;
    color: rgb(254, 250, 224);
    padding: 15px;
}

#footer p:hover {
    background-color: rgb(81, 92, 48);
}